<!DOCTYPE html>
<html>
	<head>
		<title>CSS Shapes</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<%= stylesheet_link_tag "reset", :media => "all" %>
		<%= stylesheet_link_tag "shapes", :media => "all" %>
		
		
	</head>

	<body>

		<h2> CSS Animated Shapes <h2>
		
		<header> 

			<nav>
				<ul>
					<li>
						<a href="Shapes">Shapes</a>
					</li>
					<li>
						<a href="Resources">Resources</a>
					</li>
					<li>
						<a href="Fork">Fork from Github</a>
					</li>
				</ul>
			</nav>
		</header>


		<div id="main">
			<div id="triangle"></div>

			<div id="square"></div>

			<div id="circle"> </div>

			<div id="rectangle"> </div>

			


		</div>

	</body>


</body>
</html>
