<!DOCTYPE html>
<html>

<head>
  <title>  Gesang's Websites  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/
  <%= stylesheet_link_tag "reset", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Audiowide|Quicksand:300,400,700|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' 
  rel='stylesheet' type='text/css'/>

	<%= stylesheet_link_tag "introduction", :media => "" %>
  <script src="assets/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
   
  <style>
    h1{
      margin-top:1%;
    }
    
    h2{
      margin-left:10px;
    }
       
    div 
       {
         clear:both;
        }
      
    div#mypic{
        height:250px;
        background-color:red;
        text-align:center;
        background-size:cover;

      }

       body{
       
        height:100%;
        width:100%;
        background-image:url('../assets/images/ganzi.jpg');
        background-size:cover;
        font-size:20px;
        background: black;
        }

        p{
          margin-left:10px;
          margin-top:10px;
        }
        p a{
          color:white;
        }

.indtro__projectList{
  position: absolute;
  right:15%;
  top:12%;
}
@media only screen and (max-width: 1037px) {
    .indtro__projectList {
        position: absolute;
        top:50%;
        left:15%;
    }
}


.intro__mypic img{
  border-radius: 50%;
  position:absolute;
  left:15%;
  top:15%;
}


.intro__mypic h1{
  color:white;
}

.intro__wrapper{
  margin-top: 2%;
}



  </style>
</head>


<body>
 
<div class="intro__wrapper"> 
  <div class="intro__mypic">
    <h1>Gesang Lamu</h1>
    <img src="assets/mypic.jpg" width="300">
  </div>

  <div class="indtro__projectList">
    <p> <a href = "https://dl.dropboxusercontent.com/u/29513364/cardMatchingGame/index.html"> Card Game(work in progress) </a> </p>

    <p> <a href ="http://chicagofun.herokuapp.com/"> Chicago Fun </a> </p>

    <p> <a href ="http://myhundredwebsites.herokuapp.com/jewllery"> Jewellery Website </a> </p>

    <p> <a href ="http://myhundredwebsites.herokuapp.com/colors"> Play with colors</a> </p>

    <p> <a href ="http://myhundredwebsites.herokuapp.com/weatherapp"> Weather App </a> </p>

    <p> <a href ="http://myhundredwebsites.herokuapp.com/fortunecookies"> Fortune Cookies </a> </p>

    <p> <a href = "http://gesarlhamo-bitstarter-mooc.herokuapp.com/"> Final project for a cousera class:startup engineering </a> </p>

    <p> <a href ="http://myhundredwebsites.herokuapp.com/countdown"> Timer </a> </p>

    <p> <a href ="http://myhundredwebsites.herokuapp.com/shapes"> Play with Shape </a> </p>

    <p> <a href ="http://crushmatchingapp.herokuapp.com/"> Crush Matching </a> </p>

    <p> <a href ="http://pacific-wildwood-5531.herokuapp.com/">My Bloging App </a> </p>

    <p><a href="https://github.com/gesarlhamo"> My Github </a></p>
  </div>
</div>

  <!-- AddThis Follow BEGIN -->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5202c7c57ed81350"></script>
<!-- AddThis Follow END -->
</div>




</body>
</html>




