<!DOCTYPE html>
<html>
<head>
<style>

body
{
text-align:center;
font-size:50px;
border-style:solid;
border-color:blue;
margin: 200px 50px 0px 50px;
padding: 20px 10px 80px 10px;

}



</style>

</head>
	<body>
		<div id="countdownFrame">
			<p> My Timer </p>
			<span id="countdown"></span>
    
<script>
	var target_date = new Date("December 30, 2015").getTime();
	var days, hours, minutes, seconds;
	var countdown = document.getElementById("countdown");

	setInterval(function(){

    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date)/1000;

    days = parseInt(seconds_left/86400);
    seconds_left = seconds_left % 86400;

    hours = parseInt(seconds_left/3600);
    seconds_left = seconds_left % 3600;

    minutes = parseInt(seconds_left /60);
    seconds = parseInt(seconds_left % 60);

    countdown.innerHTML = days + "d: " + hours +"h: " + minutes + "m: " + seconds + "s: ";

	}, 1000);
</script>
		
		</div>

	</body>
	
</html>


