

/*h1
{
color:#008080;
font-family:Courier;
text-align: center;
font-size:30px;
}


img
{
float:left;
margin:20px;	
}



div
{
	float:left;
}

 h1{
      text-align:center;
    }
*/

// Place all the styles related to the introduction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
